<%= form_for(@article, html: { class: "form" }) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %><br />

  <%= f.label :body %>
  <%= f.text_area :body, class: "text-body" %><br>

  <div>
    <%= f.submit "Add Your Thoughts!", class: "btn btn-submit" %>
  </div>

<% end %>
