<h1>Articles Index</h1>

<div class="display-density">
  <h3>Choose Article Display Density:</h3>
  <%= form_tag articles_path, method: :get do %>
    <%= select_tag :limit, options_for_select([10, 20, 50, 100], selected: params[:limit] || 10), class: "dropdown" %>
    <%= submit_tag "Change Density", class: "btn btn-submit" %>
  <% end %>
</div>

<ul>
  <% @articles.each do |article| %>
    <li><strong><%= link_to article.title, article_path(article.id) %></strong> written by: <strong><%= link_to article.user.username, user_path(article.user.id) %></strong></li>
  <% end %>
</ul>

<%= paginate @articles %>
<%= page_entries_info @articles, entry_name: 'article' %>
