<h1>All Articles</h1>

<div class="display-density">
  <h3>Choose Article Display Density:</h3>
  <%= form_tag articles_path, method: :get do %>
    <%= select_tag :limit, options_for_select([10, 20, 50, 100], selected: params[:limit] || 10), class: "dropdown" %>
    <%= submit_tag "Change Density", class: "btn btn-submit" %>
  <% end %>
</div>

<table>
  <tr>
    <th>
      Written By
    </th>
    <th>
      Article Title
    </th>
    <th>
      Created On
    </th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td>
        <% if article.user.avatar.attached? %>
          <%= image_tag(url_for(article.user.avatar), class:"article-author-image") %><br/>
        <% end %>
        <%= link_to article.user.username, user_path(article.user.id) %>
      </td>
      <td>
        <%= link_to article.title, article_path(article.id) %>
      </td>
      <td>
        <%= article.created_at.strftime("%m/%d/%Y") %>
      </td>
    </tr>
  <% end %>
</table>
<br/>

<%= paginate @articles %>
<%= page_entries_info @articles, entry_name: 'article' %>
