<h1>Please Write a New Blog Post!</h1>

<%= form_for(@article) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %><br />

  <%= f.label :body %>
  <%= f.text_area :body %><br>

  <%= f.submit "Create Article" %>

<% end %>

<div>
  <%= link_to "Return Home", root_path %>
</div>
