<h1><%= @article.title %></h1>

<div>
  <%= @article.body %>
</div>

<div>
  written by: <%= @article.user.username %>
</div>

<% if current_user && current_user.id == @article.user.id %>
  <%= link_to "Edit Post", edit_article_path(@article.id) %>
<% end %>

<% if (current_user && (current_user.id == @article.user.id || current_admin?)) %>
  <%= link_to "Delete Post", article_path(@article.id), method: :delete %>
<% end %>

<% if current_user %>
  <%= link_to "Add a Comment", new_article_comment_path(@article.id) %>
<% end %>

<div>
  <%= link_to "Return Home", root_path %>
</div>

<h3>Comments</h3>

<% @comments.each do |comment| %>
  <div>
    <%= comment.body %></br>
    Contributed By: <%= comment.user.username %><br />
    <%= comment.created_at.strftime("Posted: %m/%d/%Y") %><br />
    <% if current_user && (current_user == @article.user || current_user == comment.user || current_admin?) %>
      <%= link_to "Delete Comment", article_comment_path(@article, comment), method: :delete %>
    <% end %>

    <% if current_user == comment.user %>
      <%= link_to "Edit Comment", edit_article_comment_path(@article, comment) %>
    <% end %>
  </div><br />
<% end %>

<%= paginate @comments %>
<%= page_entries_info @comments, entry_name: 'comment' %>
