<h1><%= @article.title %></h1>

<div class="article-content">
  <div class="article-body">
    <%= @article.body %>
  </div>

  <div>
    written by: <%= @article.user.username %>
  </div>
</div>

<div class="article-options-links">
<% if current_user && current_user.id == @article.user.id %>
  <%= button_to "Edit Post", edit_article_path(@article.id), class: "btn article-button", method: :get %>
<% end %>

<% if (current_user && (current_user.id == @article.user.id || current_admin?)) %>
  <%= button_to "Delete Post", article_path(@article.id), class: "btn article-button delete-confirmation", method: :delete %>
<% end %>

<% if current_user %>
  <%= button_to "Add a Comment", new_article_comment_path(@article.id), class: "btn article-button", method: :get %>
<% end %>
</div>

<div>
  <%= link_to "Return Home", root_path %>
</div>

<h2>Comments</h2>

<table class="article-comments">
  <% @comments.each do |comment| %>
    <% if comment.user.suspended? && comment.user != current_user %>

    <% else %>
      <tr>
        <td class="commentor">
          <% if comment.user.avatar.attached? %>
            <%= image_tag(url_for(comment.user.avatar), class: "comment-avatar") %>
          <% end %>
          <%= link_to comment.user.username, user_path(comment.user) %>
        </td>
        <td>
          <%= comment.body %></br>
          <%= comment.created_at.strftime("Posted: %m/%d/%Y") %><br />
          <div class="comments-options-buttons">
            <% if current_user && (current_user == @article.user || current_user == comment.user || current_admin?) %>
              <%= button_to "Delete Comment", article_comment_path(@article, comment), class: "btn comments-option delete-confirmation", method: :delete %>
            <% end %>

            <% if current_user == comment.user %>
              <%= button_to "Edit Comment", edit_article_comment_path(@article, comment), class: "btn comments-option", method: :get %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= paginate @comments %>
<%= page_entries_info @comments, entry_name: 'comment' %>
