<h1><%= @article.title %></h1>

<div>
  <%= link_to "Return Home", root_path %>
</div>

<div>
  <%= @article.body %>
</div>

<div>
  written by: <%= @article.user.username %>
</div>

<% if current_user.id == @article.user.id %>
  <%= link_to "Edit Post", edit_article_path(@article.id) %>
  <%= link_to "Delete Post", article_path(@article.id), method: :delete %>
<% end %>

<%= link_to "Add a Comment", new_article_comment_path(@article.id) %>

<h3>Comments</h3>

<% @article.comments.reverse.each do |comment| %>
  <div>
    <%= comment.body %></br>
    Contributed By: <%= comment.user.username %><br />
    Posted: <%= comment.created_at %><br />
    <% if current_user == @article.user || current_user == comment.user %>
      <%= link_to "Delete Comment", article_comment_path(@article, comment), method: :delete %>
    <% end %>
  </div><br />
<% end %>
