<h1>Admin Dashboard</h1>

<div class="find-user">
  <h3>Find a User by Username</h3>
  <%= form_tag(admin_dashboard_path(current_user), method: :get) do %>
    <%= text_field_tag(:user_search, params[:search]) %>
    <%= submit_tag "Find User", class: "btn btn-submit" %>
  <% end %>
</div>

<ul>
  <% if @users %>
    <% @users.each do |user| %>
      <li><%= link_to user.username, user_path(user.id) %></li>
    <% end %>
  <% end %>
</ul>

<%= button_to "View Suspended Users", suspensions_path, class: "btn", method: :get %>

<h3>Recent Activity</h3>

<ul>
  <% @articles.each do |article| %>
    <% if article.user.suspended? %>
    <% else %>
      <li><strong><%= link_to article.title, article_path(article.id) %></strong> by <%= link_to article.user.username, user_path(article.user) %></li>
    <% end %>
  <% end %>
</ul>

<table>
  <tr>
    <td>Total Users:</td>
    <td><%= User.count %></td>
  </tr>
  <tr>
    <td>Total Number of Articles:</td>
    <td><%= Article.count %></td>
  </tr>
  <tr>
    <td>Total Number of Comments:</td>
    <td><%= Comment.count %></td>
  </tr>
  <tr>
    <td>Users with the most Articles:</td>
    <td>
      <% User.most_articles.each do |user| %>
        <%= link_to user.username, user_path(user) %>: <%= user.articles.count %><br />
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Articles with the most Comments:</td>
    <td>
      <% Article.most_comments.each do |article| %>
        <%= link_to article.title, article_path(article) %>: <%= article.comments.count %><br />
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Users who comment the most:</td>
    <td>
      <% User.most_comments.each do |user| %>
        <%= link_to user.username, user_path(user) %>: <%= user.comments.count %><br />
      <% end %>
    </td>
  </tr>
</table>
