<h1>Admin Dashboard</h1>

<div class="find-user">
  <h3>Find a User by Username</h3>
  <%= form_tag(admin_dashboard_path(current_user), method: :get) do %>
    <%= text_field_tag(:user_search, params[:search]) %>
    <%= submit_tag "Find User", class: "btn btn-submit" %>
  <% end %>
</div>

<ul>
  <% if @users %>
    <% @users.each do |user| %>
      <li><%= link_to user.username, user_path(user.id) %></li>
    <% end %>
  <% end %>
</ul>


<h3>Recent Activity</h3>

<ul>
  <% @articles.each do |article| %>
    <% if article.user.suspended? %>
    <% else %>
      <li><strong><%= link_to article.title, article_path(article.id) %></strong> by <%= article.user.username %></li>
    <% end %>
  <% end %>
</ul>
