<h1>Edit <%= @user.username %> Profile</h1>

<%= form_for(@user, html: { class: "form user-form" }) do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :email %>
  <%= f.text_field :email %><br>

  <%= f.label "Profile Picture:" %>
  <%= f.file_field :avatar %>

  <div>
    <%= f.submit "Update", class: "btn" %>
  </div>
<% end %>
