<h1><%= @user.username %> Profile Page</h1>

<% if @user.avatar.attached? %>
  <%= image_tag(url_for(@user.avatar), class: "avatar") %>
<% else %>
    <%= image_tag('default_avatar.png', class: "avatar") %>
<% end %>

<% if current_admin? %>
  <div class="user-controls">
    <% if @user.suspended? %>
      <%= button_to "Reactivate User", suspension_path, method: :put, params: {user: @user.id}, class: "btn usr-control-btn" %>
    <% else %>
      <%= button_to "Suspend User", suspensions_path(1), method: :post, params: {user: @user.id}, class: "btn usr-control-btn" %>
    <% end %>

    <% if @user.admin? %>
      <%= button_to "Remove Admin", admin_path(@user), method: :delete, class: "btn usr-control-btn" %>
    <% else %>
      <%= button_to "Make Admin", new_admin_path, params: {user_id: @user.id}, method: :get, class: "btn usr-control-btn" %>
    <% end %>
  </div>

  <% if @user.suspensions %>
  <h3>User Suspensions</h3>
    <table>
      <% @user.suspensions.each do |suspension| %>
        <tr>
          <td><%= suspension.created_at.to_date %></td>
        </tr>
      <% end %>
    </table>
    <hr>
  <% end %>
<% end %>


<% if current_user && (@user.id == current_user.id || current_admin?) %>

  <h3>Information:</h3>
  <div>
    Name: <%= @user.first_name %> <%= @user.last_name %> <br />
    Username: <%= @user.username %> <br />
    Email: <%= @user.email %> <br />
    Member since: <%= @user.created_at.strftime("%m/%d/%Y") %> <br />
  </div>
  <br />

  <%= button_to "Update Profile Information", edit_user_path(@user.id), class: "btn update-information", method: "get" %>
<% end %>

<% if @user.articles.first %>
  <h2>Articles by <%= @user.username %></h2>
  <ul>
    <% @user.articles.each do |article| %>
      <li><%= link_to article.title, article_path(article.id) %>
    <% end %>
  </ul>
<% else %>
  <h2> No artilces have been written by <%= @user.username %> yet</h2>
<% end %>
