<nav class="navbar">
  <div class="nav-separator">
    <%= link_to "Return Home", root_path, class: "nav-link" %>
    <% if current_user %>
      <% if current_admin? %>
      <%= link_to "Dashboard", admin_dashboard_path(current_user), class: "nav-link" %>
      <% end %>
      <%= link_to "Write New Blog Post", new_article_path, class: "nav-link" %>
      <%= link_to "#{current_user.username} profile", user_path(current_user), class: "nav-link" %>
    </div>
    <div class="user-login">
      <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
    </div>
  <% else %>
    <div class="user-login">
      <%= link_to "Login", login_path, class: "nav-link user-login" %> or <%= link_to "Create an Account", new_user_path, class: "nav-link user-login" %> to contribute
    </div>
  <% end %>
</nav>
