<!DOCTYPE html>
<html>
  <head>
    <title>PracticeBlogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to "Return Home", root_path %>
      <% if current_user %>
        Logged in as <%= current_user.username %>
        <%= link_to "Logout", logout_path, method: :delete %>
        <%= link_to "Write New Blog Post", new_article_path %>
        <% if current_admin? %>
          <%= link_to "Dashboard", admin_dashboard_path(current_user.id) %>
        <% end %>
      <% else %>
        <%= link_to "Login", login_path %> or <%= link_to "Create an Account", new_user_path %> to contribute
      <% end %>

      <% flash.each do |type, message| %>
        <%= content_tag :div, sanitize(message), class: type %>
      <% end %>

      <div>
        <h3>Find a Articles by Creator's Username</h3>
        <%= form_tag(search_path(1), method: :get) do %>
        <%= text_field_tag(:article_search, params[:search]) %>
        <%= submit_tag "Search" %>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
