<!DOCTYPE html>
<html>
  <head>
    <title>PracticeBlogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <% if current_user %>
        Logged in as <%= current_user.username %>
        <%= link_to "Logout", logout_path, method: :delete %>
        <%= link_to "Write New Blog Post", new_article_path %>
      <% else %>
        <%= link_to "Login to contribute", login_path %>
      <% end %>

      <% flash.each do |type, message| %>
        <%= content_tag :div, sanitize(message), class: type %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
