<!DOCTYPE html>
<html>
  <head>
    <title>PracticeBlogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "layouts/user_search" %>

    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: type %>
    <% end %>

    <%= yield %>
  </body>
</html>
